<phpunit bootstrap="./vendor/autoload.php"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"     
    displayDetailsOnTestsThatTriggerWarnings="true"
    colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>