<li class="nav-item">
    <a class="nav-link {{ is_subpath('news.admin.index')  ? 'active' }}" href="{{ path('news.admin.index') }}">News</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('news.category.admin.index')  ? 'active' }}" href="{{ path('news.category.admin.index') }}">Catégories</a>
</li>