<div class="col-sm-4">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ count }} Article{% if count > 1 %}s{% endif %}</h4>
            <a href="{{ path('news.admin.index') }}" class="btn btn-primary">Gérer les articles</a>
        </div>
    </div>
</div>